body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Phần Header */
header {
    background-color: grey;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Phần tiêu đề */
.tieude
{
    font-size: 60px;
}
/* Phần tiêu đề phụ */
.tieudephu
{
    color: red;
    font-size: 40px;
}
/* Phần giới thiệu */
.gioithieu
{
    text-align: left;
}
/* Phần Tin Tức */
#news {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Phần Câu Lạc Bộ */
#clubs {
    padding: 20px;
    text-align: center
}

/* Phần Liên hệ */
#contact {
    background-color: #f4f4f4;
    padding: 20px;
}
.facebook-button {
    background-color: #1877f2; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.facebook-button a {
    text-decoration: none;
    color: #fff; 
    display: flex;
    align-items: center;
}

.facebook-button img {
    width: 24px; 
    margin-right: 10px; 
}
